*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Nunito;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 0.63rem 1.3rem rgba(36, 0, 70, 0.05);
    align-items: flex-start;
    min-width: 106rem;
}
.logo{
    margin-left:  6rem;
    display: flex;
    align-items:flex-end;
   
}
nav{
    margin: 2rem 10rem 0 0;
}
ul{
    display: inline-flex;
}
nav li{
display:inline;
 font-weight: 600;
font-size: 1.2rem;
line-height: 1.6rem;


}
.span{
    border: 0.06rem solid #111111;
    display: inline;
}
.bell{
    padding-right: 2rem;
}

.fa-solid{
    color: #C4C4C4;
    font-size: 1.6rem;
    padding-right: 0.5rem;
    padding-left: 2rem;

}
.search-bar{
    padding: 2rem 0 3rem 3rem;
    
}
.search{
 padding: 0.3rem 26rem 0.3rem 2rem;
 border: 0.06rem solid #111111;
 border-radius: 0.6rem;
}
.fa-magnifying-glass{
    font-size: 0.8rem;
    position: absolute;
    left: 17rem;
    top: 2.7rem;
}
/* home-section */
.home-section{
    background: #fff;
    margin-top: 1rem;
    padding-top: 3rem;
}
.menu > ul{
    display: block;
    list-style-type:none;
    background: #fff;
    display: table-header-group;
    padding-top: 4rem;
    height: 30rem;
    box-shadow: 0 0.6rem 1.3rem rgba(36, 0, 70, 0.05);
}
.menu > ul > .box > li{
    padding:0 1rem;
    color: #240046;
    font-weight: 700;
font-size: 1.2rem;
line-height: 1.6rem;

    
}

.fa-house{
    font-size: 1rem;
    color: #240046 !important;
    background: #fff !important;
    padding:0.5rem ;
    border-radius: 0.3rem;
}
.box{
    background:  #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem 0.8rem 0.8rem 6rem;
}
.box-house{
    background:  #240046!important;
}
.box > li > .fa-solid{
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(180deg, #240046 0%, #CFB2EB 100%);
    padding:0.5rem ;
    border-radius: 0.3rem; 
    margin-right: 1rem; 
}
.filter{
    display: flex;
    justify-content: space-evenly;
    margin-top: -29rem;
    z-index: 1;
    margin-left: 21rem;
}
.category{
border: 0.06rem solid #111111;
border-radius: 0.6rem;
padding: 0.5rem 26.5rem 0.5rem 0rem;

}
.popularity{
    border: 0.06rem solid #111111;
    border-radius: 0.6rem;
    padding: 0.5rem 26.5rem 0.5rem 0rem;
    margin-left: 7rem;
    }
    .showcase{
        display: flex;
    flex-direction: column;
    }
    .pictures-container{
        display: flex;
        max-width: 75rem;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1.3rem;
        margin: 1rem 30rem 0rem 30rem;
    }
    .picture-container img{
        width: 23.3rem;
        object-fit: cover;
        object-position: bottom;
        padding: 1.13rem;
    }
    .fa-screencast{
        font-size: 1.3rem;
        background: #111111;
    }
    .icons{
        margin: -1rem 0 0 1rem;
    }
    .bi-download{
        margin-left: 1rem;
    }
    .thumbs-up{
      width: 5%!important;
        padding:0!important;
        margin-left: 1rem;
        
    }
    .thumbs-down{
        width: 5%!important;
          padding:0!important;
          margin-left: 1rem;
          margin-bottom: -0.3rem;;
          transform:  rotateX(180deg);
          
    }
    .review,
    .text{
     margin: 0.5rem 0 0 1rem;
    }

    .bi-star{
     color: #FF9E00;
      }
      .button{
        display: flex;
        justify-content: flex-start;
        margin: 2rem 0 2rem 36rem;
      }
      .btn-1{
          background: #240046;
          color: #fff;
          border-radius: 0.3rem;
          padding: 1rem 1.9rem;
          font-size: 1.5rem;
          margin-right: 2rem;
      }
      .btn-2{
        background: #FF9E00;;
        color: #111111;
        border-radius: 0.3rem;
        padding: 1rem 1.9rem;
        font-size: 1.5rem;
    }
@media screen and (max-width: 321px) {
    nav{
        margin-right: 28rem;
    }
    
}
    
    
